@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

*{
    font-family: 'Lilita One', cursive;
    margin: 0;
    padding: 0;

}
 /* Tooltip container */
 div.tooltip-div {
     position: relative;
     display: inline-block;
 }

 body {
     transition-duration:2s;
     background-blend-mode: screen;
     background-size: cover;
     height: 100vh;
     background: #1d3036 no-repeat center;
     cursor: url('./pokeball.png'), pointer;
 }

 /* laoder styles */
 .loader-wrapper {
     width: 100vw;
     height: 100vh;
     position: absolute;
     top: 0;
     left: 0;
     background-color: #333;
     display: flex;
     justify-content: center;
     align-items: center;
     z-index: 999;
 }

 .loader-container {
     display: inline-block;
     width: 50px;
     height: 50px;
     border-radius: 25px;
     position: relative;
     border: 4px solid #fff;
 }

 .loader {
     display: inline-block;
     height: 100%;
     border-radius: 50%;
     background-color: #fff;
     animation: loader 2s infinite ease-in;
 }

 @keyframes loader {
     0% {
         width: 0%;
         transform: rotate(0deg);
     }

     25% {
         width: 0%;
         transform: rotate(25deg);
     }

     50% {
         width: 100%;
         transform: rotate(0deg);
     }

     75% {
         width: 100%;
         transform: rotate(25deg);
     }

     100% {
         width: 0%;
         transform: rotate(0deg);
     }
 }

#welcome {
    font-size:5.2rem;
    font-family: Reglisse, serif;
    color: #e7dcd2;
    margin: 0 0 5rem;
}



 @keyframes slideMe {
     0% {
         transform: translateY(-150px);
         opacity: 0;
     }

     60% {
         transform: translateY(30px);
     }

     62% {
         opacity: 1;
     }

     80% {
         transform: translate(0);
     }

     90% {
         transform: skew(-5deg);
     }

     100% {
         transform: skew(0deg);
     }
 }

 @keyframes effect {
     0% {
         transform: translateX(0px) rotate(0deg);
     }

     20% {
         transform: translateX(-4px) rotate(-2deg);
     }

     40% {
         transform: translateX(-2px) rotate(-1deg);
     }

     60% {
         transform: translateX(4px) rotate(2deg);
     }

     80% {
         transform: translateX(2px) rotate(1deg);
     }

     100% {
         transform: translateX(0px) rotate(0deg);
     }
 }

 @keyframes appear {
     0% {
         opacity: 0%
     }

     20% {
         opacity: 20%
     }

     40% {
         opacity: 40%
     }

     60% {
         opacity: 60%
     }

     80% {
         opacity: 80%
     }

     100% {
         opacity: 100%
     }
 }

 /* Tooltip text */
 div.tooltip-div .tooltiptext {
     visibility: hidden;
     width: 120px;
     background-color: aqua;
     color: red;
     text-align: center;
     padding: 5px 0;
     border-radius: 6px;
     /* Position the tooltip text - see examples below! */
     position: absolute;
     z-index: 1;
 }

 /* Show the tooltip text when you mouse over the tooltip container */
 div.tooltip-div:hover .tooltiptext {
     visibility: visible;
     opacity: 0;
     transition: opacity 3s;
 }

 .h1 {
     color: red;
 }

 .keys .btn {
     background-color: #ffffff;
     border: 2px solid #3d3d3d;
     font-weight: 500;
 }

 .keys .btn:hover {
     background-color: yellow;
     color: black;
 }

 .keys {
     display: grid;
     grid-template-columns: repeat(4, 1fr);
     padding: 0.7rem;
 }

 .tooltip-btn {
     width: 1.2em;
     height: 1.2em;
     line-height: 0;
 }



 .footer {
     position: fixed;
     left: 0;
     bottom: 0;
     width: 100%;
     color: Red;
     text-align: center;
 }

/*new intro page */

@font-face {
    font-family: "Reglisse";
    src: url("./Assets/Fonts/Reglisse-0WOD9.otf");
}

main{
    display: grid;
    grid-template-columns: 1fr 2fr;

}

.disclaimer{
    width:15rem;
    position: absolute;
    top:0;
    right:0;
    text-align: start;
    color: rgb(248, 114, 68);
}

.fg-pic{
    width: 100%;
}

#pica-pic{
    width: 100%;
    height: 100vh;

}

.fg-elements{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.btn{
    background:rgb(251, 181, 90);
    width: 10rem;
    border-radius:20px;
    height: 2.7rem;
}

P{
    color: black;
}

.catch-phrase{
    color: rgb(253, 191, 26);
    font-size:1.5rem;
    border-bottom: 2px solid #e7dcd2;

}

#logo{
    margin: 0 0 6rem;
}

#play{
    margin: 0 0 2rem;
}

.letters-btn{

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.btn{
    width: 12rem;
    margin: 2rem;
}

.btn:hover{
    background: #ffaa37;
}

@media screen and (max-width: 1000px) {
    .disclaimer{
        display: none;
    }
    .btn{
        width: 7rem;
    }

}