@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

*{
    font-family: 'Lilita One', cursive;
    margin: 0;
    padding: 0;

}
 /* Tooltip container */
 div.tooltip-div {
     position: relative;
     display: inline-block;
 }

 body {
     transition-duration:2s;
     background-blend-mode: screen;
     background-size: cover;
     height: 100vh;
     background: #1d3036 no-repeat center;
     cursor: url('./src/files/pokeball.png'), pointer;
 }

 /* laoder styles */
 .loader-wrapper {
     width: 100vw;
     height: 100vh;
     position: absolute;
     top: 0;
     left: 0;
     background-color: #333;
     display: flex;
     justify-content: center;
     align-items: center;
     z-index: 999;
 }

 .loader-container {
     display: inline-block;
     width: 50px;
     height: 50px;
     border-radius: 25px;
     position: relative;
     border: 4px solid #fff;
 }

 .loader {
     display: inline-block;
     height: 100%;
     border-radius: 50%;
     background-color: #fff;
     animation: loader 2s infinite ease-in;
 }

 @keyframes loader {
     0% {
         width: 0%;
         transform: rotate(0deg);
     }

     25% {
         width: 0%;
         transform: rotate(25deg);
     }

     50% {
         width: 100%;
         transform: rotate(0deg);
     }

     75% {
         width: 100%;
         transform: rotate(25deg);
     }

     100% {
         width: 0%;
         transform: rotate(0deg);
     }
 }

#welcome {
    font-size:5.2rem;
    font-family: 'Lilita One', serif;
    color: #e7dcd2;
}

#welcome_text{
    font-size:5.2rem;
    font-family: Reglisse, serif;
    color: #e7dcd2;
}



 @keyframes slideMe {
     0% {
         transform: translateY(-150px);
         opacity: 0;
     }

     60% {
         transform: translateY(30px);
     }

     62% {
         opacity: 1;
     }

     80% {
         transform: translate(0);
     }

     90% {
         transform: skew(-5deg);
     }

     100% {
         transform: skew(0deg);
     }
 }

 @keyframes effect {
     0% {
         transform: translateX(0px) rotate(0deg);
     }

     20% {
         transform: translateX(-4px) rotate(-2deg);
     }

     40% {
         transform: translateX(-2px) rotate(-1deg);
     }

     60% {
         transform: translateX(4px) rotate(2deg);
     }

     80% {
         transform: translateX(2px) rotate(1deg);
     }

     100% {
         transform: translateX(0px) rotate(0deg);
     }
 }

 @keyframes appear {
     0% {
         opacity: 0%
     }

     20% {
         opacity: 20%
     }

     40% {
         opacity: 40%
     }

     60% {
         opacity: 60%
     }

     80% {
         opacity: 80%
     }

     100% {
         opacity: 100%
     }
 }

 /* Tooltip text */
 div.tooltip-div .tooltiptext {
     visibility: hidden;
     width: 120px;
     background-color: aqua;
     color: red;
     text-align: center;
     padding: 5px 0;
     border-radius: 6px;
     /* Position the tooltip text - see examples below! */
     position: absolute;
     z-index: 1;
 }

 /* Show the tooltip text when you mouse over the tooltip container */
 div.tooltip-div:hover .tooltiptext {
     visibility: visible;
     opacity: 0;
     transition: opacity 3s;
 }

 .h1 {
     color: red;
 }

 .keys .btn {
     background-color: #ffffff;
     border: 2px solid #3d3d3d;
     font-weight: 500;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .keys .btn:hover {
     background-color: yellow;
     color: black;
 }

 .keys {
     display: grid;
     grid-template-columns: repeat(4, 1fr);
     justify-items: center;
     margin: 0 10%;
 }

 .tooltip-btn {
     width: 1.2em;
     height: 1.2em;
     line-height: 0;
 }



 .footer {
     position: fixed;
     left: 0;
     bottom: 0;
     width: 100%;
     color: Red;
     text-align: center;
 }

/*new intro page */

@font-face {
    font-family: "Reglisse";
    src: url("./Assets/Fonts/Reglisse-0WOD9.otf");
}
@font-face {
    font-family: "Reglisse_2";
    src: url("./Assets/Fonts/ReglisseFill-WyWzn.otf");
}

main{
    display: grid;
    grid-template-columns: 1fr 2fr;

}

.disclaimer{
    width:15rem;
    font-size: 10px;
    position: absolute;
    top:0;
    right:0;
    text-align: start;
    color: rgb(248, 114, 68);
}

.fg-pic{
    width: 100%;
}

#pica-pic{
    width: 100%;
    height: 100vh;

}

.fg-elements{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.btn{
    background:rgb(251, 181, 90);
    width: 10rem;
    border-radius:20px;
    height: 2.7rem;
}

P{
    color: black;
}

.catch-phrase{
    color: rgb(253, 191, 26);
    font-size:1.5rem;
    border-bottom: 2px solid #e7dcd2;

}



 button#play{
    transition:  1s;
    animation-name:coloranimation2;
    background-image: url(./src/files/poke-btn.png);
    background-color: transparent !important;
    Filter: drop-shadow(2px 4px 8px #585858);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 200px;
    width: 200px;
    border: none !important;
    cursor: pointer;
    transition-duration:4s; 
    animation-duration: 1s;
    font-size:25px;
    animation-iteration-count: infinite;
    margin-top: 2%;
    padding-top: 60px;
    position: relative;
 }

button#play:hover{
height: 250px;
width: 250px;
transition: 1.5s;
}

.letters-btn{

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.btn{
    width: 12rem;
    margin: 2rem;
}

.btn:hover{
    background: #ffaa37;
}

@media screen and (max-width: 1000px ) and (min-width: 501px )  {
    .disclaimer{
        display: none;
    }
    .btn{
        width: 7rem;
    }

    .fg-elements{
        height: 100vh;
    }

    #pica-pic{
        position:absolute;
        z-index: -1;
        object-fit: cover;
        visibility: hidden;
    }

    main{
        background: #b2afe1 url(./Assets/try_1.png) no-repeat center/cover ;
        background-blend-mode: multiply;


    }
    #welcome_text{
        font-family: Reglisse_2,sans-serif;
        color: #b07cdb;
        font-size: 7.5rem;
        margin: 0 2rem;
    }

    #logo{
        position: absolute;
        top: 3%;
        width: 35rem;
    }

    .catch-phrase{
        position: absolute;
        bottom: 1%;
        font-size: 3.5rem;
    }
}

@media screen and (max-width: 500px )  {
    .disclaimer{
        display: none;
    }
    .btn{
        width: 7rem;
    }

    .fg-elements{
        height: 100vh;
    }

    #pica-pic{
        position:absolute;
        z-index: -1;
        object-fit: cover;
        visibility: hidden;
    }

    main{
        background: #b2afe1 url(./Assets/try_1.png) no-repeat center/cover ;
        background-blend-mode: multiply;


    }
    #welcome_text{
        font-family: Reglisse_2,sans-serif;
        color: #b07cdb;
        font-size: 3.5rem;

    }

    #logo{
        position: absolute;
        top: 3%;

    }

    .catch-phrase{
        position: absolute;
        bottom: 1%;
        font-size: 1.5rem;
    }

    .keys {
        grid-template-columns:repeat(3,1fr) ;
    }
    .btn{
        width: 5rem;
        margin: 1rem;

    }
    #word{
        font-size: 3rem
    }
}

.winText{
    text-shadow: 2px 2px black;
    color:lime;
    transition-duration: 1.0s;
    font-size:100px;
}
