 
/* Tooltip container */
 div.tooltip-div {
     position: relative;
     display: inline-block;
}
 
 body{
    transition-duration:4s;
    background:rgba(255,255,255, 0.8);
    background-image: url('https://raw.githubusercontent.com/Aatmaj-Zephyr/Hangman/main/UER3IW.png');
    background-blend-mode: screen;
 }

 p#welcome{
    font-size:100px;
    animation-name:coloranimation; 
    animation-duration: 4s;
    animation-iteration-count: 
    infinite;transition-duration:4s;
 }

 button#play{
    animation-name:coloranimation2;
    background-color:#16f016;
    border: solid 2px grey;
    cursor: pointer;
    transition-duration:4s; 
    animation-duration: 0.5s;
    font-size:70px;
    animation-iteration-count: infinite;
    margin-top: 2%;
 }

 @keyframes effect {
     0% {
         transform: translateX(0px) rotate(0deg);
    }
     20% {
         transform: translateX(-4px) rotate(-2deg);
    }
     40% {
         transform: translateX(-2px) rotate(-1deg);
    }
     60% {
         transform: translateX(4px) rotate(2deg);
    }
     80% {
         transform: translateX(2px) rotate(1deg);
    }
     100% {
         transform: translateX(0px) rotate(0deg);
    }
}
 @keyframes appear {
     0% {
         opacity: 0% 
    }
     20% {
         opacity: 20% 
    }
     40% {
         opacity: 40% 
    }
     60% {
         opacity: 60% 
    }
     80% {
         opacity: 80% 
    }
     100% {
         opacity: 100% 
    }
}
/* Tooltip text */
 div.tooltip-div .tooltiptext {
     visibility: hidden;
     width: 120px;
     background-color: aqua;
     color: red;
     text-align: center;
     padding: 5px 0;
     border-radius: 6px;
    /* Position the tooltip text - see examples below! */
     position: absolute;
     z-index: 1;
}
/* Show the tooltip text when you mouse over the tooltip container */
 div.tooltip-div:hover .tooltiptext {
     visibility: visible;
     opacity: 0;
     transition: opacity 3s;
}
 .h1{
     font-family: "Brush Script MT", cursive;
     color: red;
}

 .keys .btn{
     background-color: #ffffff;
     border: 2px solid #3d3d3d;
 }
 .keys .btn:hover{
     background-color: yellow;
     color: black;
}
 .keys {
     display: grid;
     grid-template-columns: repeat(4, 1fr);
     grid-gap: 20px;
     padding: 15px;
}
 @keyframes coloranimation {
     0% {
        color: red;
    }
     25% {
        color: yellow;
    }
     50% {
        color: blue;
    }
     100% {
        color: green;
    }
}
 @keyframes coloranimation2 {
     50% {
        color: red;
    }
     100% {
        color: blue;
    }
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;   
   color: Red;
   text-align: center;
}
