 
/* Tooltip container */
 .tooltip {
     position: relative;
     display: inline-block;
}
 @keyframes effect {
     0% {
         transform: translateX(0px) rotate(0deg);
    }
     20% {
         transform: translateX(-4px) rotate(-2deg);
    }
     40% {
         transform: translateX(-2px) rotate(-1deg);
    }
     60% {
         transform: translateX(4px) rotate(2deg);
    }
     80% {
         transform: translateX(2px) rotate(1deg);
    }
     100% {
         transform: translateX(0px) rotate(0deg);
    }
}
 @keyframes appear {
     0% {
         opacity: 0% 
    }
     20% {
         opacity: 20% 
    }
     40% {
         opacity: 40% 
    }
     60% {
         opacity: 60% 
    }
     80% {
         opacity: 80% 
    }
     100% {
         opacity: 100% 
    }
}
/* Tooltip text */
 .tooltip .tooltiptext {
     visibility: hidden;
     width: 120px;
     background-color: aqua;
     color: red;
     text-align: center;
     padding: 5px 0;
     border-radius: 6px;
    /* Position the tooltip text - see examples below! */
     position: absolute;
     z-index: 1;
}
/* Show the tooltip text when you mouse over the tooltip container */
 .tooltip:hover .tooltiptext {
     visibility: visible;
     opacity: 0;
     transition: opacity 3s;
}
 .h1{
     font-family: "Brush Script MT", cursive;
     color: red;
}
 .button:hover{
     background-color: yellow;
     color: black;
}
 .keys {
     display: grid;
     grid-template-columns: repeat(4, 1fr);
     grid-gap: 20px;
     padding: 20px;
}
 @keyframes coloranimation {
     0% {
        color: red;
    }
     25% {
        color: yellow;
    }
     50% {
        color: blue;
    }
     100% {
        color: green;
    }
}
 @keyframes coloranimation2 {
     50% {
        color: red;
    }
     100% {
        color: blue;
    }
}
